<div class="btn-group float-right" role="group" aria-label="Team actions">
  <button id="teamActionsGroupDropdown" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="teamActionsGroupDropdown">
    <%= link_to 'Edit', edit_team_path(@team), class: 'dropdown-item' %>
    <%= delete_team_link @team, css_class: 'dropdown-item' %>
  </div>
</div>

<h1>
  <%= icon 'user-friends' %>
  <%= @team.name %>
</h1>

<div class="mb-4">
  <span class="badge badge-info text-monospace mr-2">
    <%= @team.slug %>
  </span>
  <small class="text-muted">
    Created <%= local_time_ago(@team.created_at) %>
  </small>
</div>

<% if @team.description.present? %>
  <div class="lead mb-4">
    <%= simple_format @team.description %>
  </div>
<% end %>
