<% if can? :edit, @team %>
  <div class="btn-group float-right" role="group" aria-label="Team actions">
    <button id="teamActionsGroupDropdown" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="teamActionsGroupDropdown">
      <%= link_to 'Edit', edit_team_path(@team), class: 'dropdown-item' %>
    </div>
  </div>
<% end %>

<h1>
  <%= team_icon %>
  <%= @team.name %>
</h1>

<div class="mb-4">
  <span class="badge badge-info text-monospace mr-2">
    <%= @team.slug %>
  </span>
  <small class="text-muted">
    Created <%= local_time_ago(@team.created_at) %>
  </small>
</div>

<% if @team.description.present? %>
  <div class="lead mb-4">
    <%= simple_format @team.description %>
  </div>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="spaces-tab" data-toggle="tab" href="#spaces" role="tab" aria-controls="spaces" aria-selected="true">
      Spaces
      <%= count_badge @team.projects.count %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="clusters-tab" data-toggle="tab" href="#clusters" role="tab" aria-controls="clusters" aria-selected="true">
      Clusters
      <%= count_badge @team.clusters.count %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="people-tab" data-toggle="tab" href="#people" role="tab" aria-controls="people" aria-selected="false">
      People
      <%= count_badge @team.members.count %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
  </li>
</ul>

<div class="tab-content border border-top-0">
  <div class="tab-pane active" id="spaces" role="tabpanel" aria-labelledby="spaces-tab">
    <%= render partial: 'projects', locals: { team: @team } %>
  </div>

  <div class="tab-pane" id="clusters" role="tabpanel" aria-labelledby="clusters-tab">
    <%= render partial: 'clusters', locals: { team: @team } %>
  </div>

  <div class="tab-pane" id="people" role="tabpanel" aria-labelledby="people-tab">
    <%= render partial: 'people', locals: { team: @team } %>
  </div>

  <div class="tab-pane" id="activity" role="tabpanel" aria-labelledby="activity-tab">
    <%= render partial: 'activity/stream', locals: { activity: @activity } %>
  </div>
</div>
