<h1>Access</h1>

<section class="my-access">
  <% if @unused_identities.present? %>
    <div class="card border-danger mb-3">
      <div class="card-body">
        <h3 class="card-title text-danger">
          Unused identities
        </h3>

        <p class="card-text">
          <%= icon 'question-circle' %>
          These are identities you previously connected in the hub but now unneeded,
          due to access to the integration being removed from your team(s).
        </p>
      </div>

      <ul class="list-group list-group-flush">
        <% @unused_identities.each do |ui| %>
        <li class="list-group-item">
          <h6 class="font-weight-bold">
            For integration: <%= ui.integration.name %>
          </h6>

          <%= render partial: 'identity', locals: { identity: ui } %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @groups.each do |group| %>
    <div class="integrations-group py-2">
      <h3 class="my-3">
        <%= resource_icon group[:id] %>
        <%= group[:name] %>
      </h3>

      <% if group[:entries].empty? %>
        <p class="lead none-text">
          No integrations available or allocated - contact a hub admin to set up and allocate a new integration if required.
        </p>
      <% else %>
        <% group[:entries].each do |entry| %>
          <%= render partial: 'entry', locals: { entry: entry } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
