<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <i class="fas fa-cogs"></i><strong>Kubernetes CRDs</strong>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">is a list of kubernetes custom resource definitions which are owned or used by this operator</h6>
    </br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">CRD</th>
          <th scope="col">Description</th>
          <th scope="col">Usage</th>
        </tr>
      </thead>
      <tbody>
        <%-
          info[:crds].each do |x|
            crd_name = x[:display_name].delete(' ')
        -%>
        <tr>
          <td><%= x[:display_name] %></td>
          <td><%= x[:name] %>/<%= x[:version] %></td>
          <td><%= x[:description] %></td>
          <%- if info[:usage].key?(crd_name) -%>
          <td>
            <button type="button" class="btn" data-toggle="modal" data-target=".crd-<%= crd_name %>">
              <i class="fas fa-eye"></i>
            </button>
          </td>
          <%- else -%>
          <td></td>
          <%- end -%>
        </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <small class="text-muted"><%= info[:crds].size %> crds owned by this operator</small>
  </div>
</div>

<%-
  info[:usage].each do |k,v|
-%>
<div class="modal fade crd-<%= k %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= k %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card" style="padding: 20px; background-color: #F5F5F5;">
          <pre><%= v %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
<%- end -%>
