<div class="project-credentials p-3">
  <% project.credentials.order(:integration_id).each do |c| %>
    <div class="card mb-3 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">
          <%= c.full_name %>
          <span class="badge badge-info text-capitalize ml-2">
            <%= c.kind %>
          </span>
        </h5>

        <h6 class="card-subtitle mb-2 text-muted">
          For <%= c.integration.name %>
        </h6>

        <% if c.description.present? %>
          <p class="card-text">
            <%= simple_format c.description %>
          </p>
        <% end %>

        <% if unmask %>
          <pre class="text-wrap bg-light p-3"><code><%= c.value -%></code></pre>
        <% else %>
          <%=
            link_to 'Reveal all credential values',
              {
                unmask: true,
                anchor: 'credentials',
              }
          %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
