<% is_array = local_assigns.fetch :is_array, false %>

<% spec['properties'].each do |(name, property_spec)| %>
  <% fields_for_options = is_array ? { index: nil } : {} %>
  <%= form.fields_for namespace, fields_for_options do |fields_form| %>
    <% if property_spec['type'] == 'array' %>

      <% if property_spec['items']['type'] == 'string' && property_spec['items']['oneOf'].present? %>

        <% is_required = Array(spec['required']).include?(name) %>
        <%=
          render partial: 'application/forms/json_schema/field',
            locals: {
              form: fields_form,
              name: name,
              property_spec: property_spec['items'],
              is_required: is_required,
              current_value: current[name],
              include_blank: is_required,
              multiple: true
            }
        %>

      <% else %>

        <div data-controller="form-nested-list">
          <template data-target="form-nested-list.template">
            <%=
              render partial: 'application/forms/json_schema/fields_array_item',
                locals: {
                  form: fields_form,
                  name: name,
                  property_spec: property_spec,
                  item: {}
                }
            %>
          </template>

          <h6>
            <%=
              label_with_tooltip(
                config_field_title(name, property_spec),
                property_spec['description']
              )
            %>
          </h6>

          <div>
            <% Array(current[name]).each do |item| %>
              <%=
                render partial: 'application/forms/json_schema/fields_array_item',
                  locals: {
                    form: fields_form,
                    name: name,
                    property_spec: property_spec,
                    item: item || {}
                  }
              %>
            <% end %>

            <div class="mb-3" data-target="form-nested-list.links">
              <%= link_to "Add", "#", class: "btn btn-sm btn-outline-primary", data: { action: "click->form-nested-list#add" } %>
            </div>
          </div>
        </div>

      <% end %>

    <% else %>

      <% if property_spec['type'] == 'object' %>

        <%=
          render partial: 'application/forms/json_schema/fields_nested_object',
            locals: {
              form: fields_form,
              name: name,
              spec: property_spec,
              current: current[name] || {},
              is_array: false
            }
        %>

      <% else %>

        <% is_required = Array(spec['required']).include?(name) %>
        <%=
          render partial: 'application/forms/json_schema/field',
            locals: {
              form: fields_form,
              name: name,
              property_spec: property_spec,
              is_required: is_required,
              current_value: current[name],
              include_blank: is_required,
              multiple: false
            }
        %>

      <% end %>

    <% end %>
  <% end %>
<% end %>
