<% config_spec = integration.provider['config_spec'] %>

<div id="<%= integration.id -%>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      Name: <%= integration.name %>
      <%= link_to admin_integrations_path_with_selected(integration) do %>
        <%= icon 'link', css_class: ['ml-1', 'text-muted'] %>
      <% end %>
    </h5>

    <p class="text-muted">
      <%= pluralize integration.resources.count, 'resource' %>
    </p>

    <div class="card bg-light p-3 mb-3">
      <% if group[:top_level] %>
        <% teams = integration.teams %>
        <% if teams.present? %>
          <h6 class="font-weight-bold">Allocated to team(s)</h6>
          <% teams.each do |t| %>
            <div class="indented mb-1">
              <%= link_to t.name, team_path(t) %>
            </div>
          <% end %>
        <% else %>
          <p class="mb-0">
            Not allocated to any specific teams
            <strong>so will be available to ALL teams</strong>
          </p>
        <% end %>
      <% else %>
        <p class="mb-0">
          Allocation of this integration is based on it's parent(s) allocation
        </p>
      <% end %>
    </div>

    <% parents = integration.parents %>
    <% children = integration.children %>
    <% if parents.present? || children.present? %>
      <div class="card bg-light p-3 mb-3">
        <% if parents.present? %>
          <h6 class="font-weight-bold">Depends on</h6>
          <% parents.each do |p| %>
            <div class="indented mb-1">
              <%= link_to p.name, admin_integrations_path_with_selected(p) %>
            </div>
          <% end %>
        <% end %>

        <% if children.present? %>
          <h6 class="font-weight-bold">Has dependents</h6>
          <% children.each do |c| %>
            <div class="indented mb-1">
              <%= link_to c.name, admin_integrations_path_with_selected(c) %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%=
      render partial: 'config_fields',
        locals: {
          spec: config_spec,
          data: integration.config,
          group_id: group[:id],
          integration_id: integration.id,
          unmask: unmask
        }
    %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_admin_integration_path(integration), class: 'btn btn-primary' %>
  </div>
</div>
