<%=
  bootstrap_form_with(
    model: [:admin, integration],
    local: true,
    layout: :horizontal,
    label_col: 'col-md-3',
    control_col: 'col-md-9'
  ) do |form|
%>
  <%= form.alert_message "Please fix the issues below:" %>

  <h5>Provider: <%= integration.provider['name'] -%></h5>
  <%= form.hidden_field :provider_id %>

  <%= form.text_field :name, layout: :default, input_group_class: 'input-group-lg' %>

  <% if @potential_parents.present? %>
    <div class="card p-3 mb-3">
      <%=
        form.select :parent_ids,
          @potential_parents.transform_values { |l| l.map { |i| [i.name, i.id] }},
          {
            label: 'Link with parent(s)',
            layout: :default,
            wrapper: { class: 'mb-0' }
          },
          {
            class: 'selectpicker',
            multiple: true
          }
      %>
    </div>
  <% end %>

  <% if @potential_teams.present? %>
    <div class="card p-3 mb-3">
      <%=
        form.select :team_ids,
          @potential_teams.map { |t| [t.name, t.id] },
          {
            label: 'Allocate to team(s)',
            layout: :default,
            wrapper: { class: 'mb-0' },
            help: 'If nothing selected then this integration will be available to ALL teams'
          },
          {
            class: 'selectpicker',
            multiple: true,
            data: {
              'actions-box': true
            }
          }
      %>
    </div>
  <% end %>

  <div class="card mb-3">
    <div class="card-header">
      Config
    </div>
    <div class="card-body">
      <%=
        render partial: 'application/forms/json_schema/fields',
          locals: {
            form: form,
            namespace: :config,
            spec: integration.provider['config_spec'],
            current: integration.config || {}
          }
      %>
    </div>
  </div>

  <% submit_label = integration.new_record? ? 'Create integration' : 'Update integration' %>
  <%= form.primary submit_label %>
<% end %>
