<div class="<%= container_css_class if local_assigns.key? :container_css_class -%>">
  <% panel_id = "setup-panel-#{SecureRandom.hex(10)}" %>

  <%=
    tag.a(
      href: '#',
      data: {
        toggle: 'collapse',
        target: "##{panel_id}"
      },
      aria: {
        controls: panel_id
      }
    ) do
  %>
    <%= icon 'question' %>
    Set up commands
    <%= icon 'caret-down', css_class: 'my-2' %>
  <% end %>

  <%=
    tag.div(
      id: panel_id,
      class: 'collapse'
    ) do
  %>
    <div class="mt-2 card p-3 bg-light overflow">
      <%- case integration.provider_id -%>
      <%- when 'kubernetes' %>
        <%= render partial: 'application/clipboard_copy',
          locals: {
            id: 'kubectl-setup-command-1',
            copy_text: "kubectl config set clusters.#{integration.config['cluster_name']}.certificate-authority-data #{integration.config['ca_cert']}",
            input_group_classes: ['mb-3']
          }
        %>
        <%= render partial: 'application/clipboard_copy',
          locals: {
            id: 'kubectl-setup-command-2',
            copy_text: "kubectl config set-cluster #{integration.config['cluster_name']} --server=#{integration.config['api_url']}",
            input_group_classes: ['mb-3']
          }
        %>
        <%= render partial: 'application/clipboard_copy',
          locals: {
            id: 'kubectl-setup-command-3',
            copy_text: "kubectl config set-credentials #{integration.config['cluster_name']}-#{credential.full_name} --token=#{credential.value}",
            input_group_classes: ['mb-3']
          }
        %>
        <%= render partial: 'application/clipboard_copy',
          locals: {
            id: 'kubectl-setup-command-4',
            copy_text: "kubectl config set-context #{integration.config['cluster_name']}-#{credential.full_name} --cluster=#{integration.config['cluster_name']} --user=#{integration.config['cluster_name']}-#{credential.full_name}"
          }
        %>
        <% documentation_url = 'https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config' %>
      <%- when 'ecr' %>
        <%= render partial: 'application/clipboard_copy',
          locals: {
            id: 'ecr-login-command',
            copy_text: "eval $(aws ecr get-login --region #{integration.config['region']} --no-include-email --registry-ids #{integration.config['account']})"
          }
        %>
        <% documentation_url = 'https://docs.aws.amazon.com/AmazonECR/latest/userguide/ECR_AWSCLI.html' %>
      <%- when 'quay' %>
        <%= render partial: 'application/clipboard_copy',
          locals: {
            id: 'quay-login-command',
            copy_text: "docker login --username #{credential.full_name} --password #{credential.value} quay.io"
          }
        %>
        <% documentation_url = 'https://docs.quay.io/solution/getting-started.html' %><% end %>
    </div>
    <div class="mt-2">
      <%= icon 'book' %>
      <%= link_to 'Further docs', documentation_url, target: '_blank' %>
    </div>
  <% end %>
</div>
